body {
  font-family: sans-serif;
  direction: rtl;
  background-color: #f3e5f5; /* صورتی روشن */
  color: #6a1b9a; /* بنفش تیره */
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff; /* سفید */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #ea80fc; /* صورتی ملایم */
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d500f9; /* بنفش روشن */
}

.result-box {
  background-color: #ea80fc; /* صورتی ملایم */
  color: white; /* رنگ متن سفید */
  padding: 1.5rem;
  border-radius: 15px;
  margin-top: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}